---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
{% endif %}

{% include base_path %}

<p style="text-align: center;">2024</p>
<hr />
<p>Williams, G. D. Z.; Saltman, S.; Wang, Z.; Warren, D.M.; <b>Hill, R. C.</b>; Vengosh, A. (2025) The potential water quality impacts of hard-rock lithium mining: Insights from a legacy pegmatite mine in North Carolina, USA. <i>Science of the Total Environment</i>, 956, 177281. <a href="https://doi.org/10.1016/j.scitotenv.2024.177281">https://doi.org/10.1016/j.scitotenv.2024.177281</a>.</p>
<p>Cowan, E.A.; Wang, Z.; Brachfeld, S.A.; Hageman, S.J.; Seramur, K.C.; Pearson, W.F.; Wilson, J.; Karcher, R.; <b>Hill, R.</b>; Vengosh, A. (2024) Role of coal ash morphology and composition in delivery and transport of trace metals in the aquatic environment. <i>Environmental Pollution</i>, 363, 124982. <a href="https://doi.org/10.1016/j.envpol.2024.124982">https://doi.org/10.1016/j.envpol.2024.124982</a>.</p>
<p style="text-align: center;">2023</p>
<hr />

<p style="text-align: center;">2022</p>
<hr />




