---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
{% endif %}

{% include base_path %}

<div style="text-align: center;">
    <h1>Publications</h1>
</div>


<p style="text-align: center;">2025</p>
<hr />
<p>Williams, G.D.Z.; Petrović, M.; <b>Hill, R.C.</b>; Hall, G.A.; Vengosh, A. The Water Quality Impacts of Legacy Hard-Rock Lithium Mining and Processing. <i>Environmental Science and Technology</i>. <a href="https://pubs.acs.org/doi/10.1021/acs.est.5c13682" target="_blank" rel="noopener noreferrer">https://pubs.acs.org/doi/10.1021/acs.est.5c13682</a>.</p>
<p><b>Hill, R.C.</b>; Pieńkowska, A.; Merbach, I.; Reitz, T.; Muehe, E.M.; Vengosh, A. Impacts of fertilization on metal(loid) transfer from soil to wheat in a long-term fertilization experiment – using <sup>87</sup>Sr/<sup>86</sup>Sr isotopes as metal(loid) tracer. <i>Environment International</i>, 205, 109851. <a href="https://doi.org/10.1016/j.envint.2025.109851" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.envint.2025.109851</a>.</p>
<p><b>Hill, R.C.</b>; Wang, Z.; Hu, J.; Williams, G. D. Z.; Vengosh, A. Radionuclides and the uranium isotope fingerprint of globally produced phosphate rocks, mineral fertilizers, and phosphogypsum waste and its potential effect on the environment. <i>Journal of Hazardous Materials</i>, 449, 140033. <a href="https://doi.org/10.1016/j.jhazmat.2025.140033" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.jhazmat.2025.140033</a>.</p>

<p style="text-align: center;">2024</p>
<hr />
<p>Williams, G. D. Z.; Saltman, S.; Wang, Z.; Warren, D.M.; <b>Hill, R. C.</b>; Vengosh, A. The potential water quality impacts of hard-rock lithium mining: Insights from a legacy pegmatite mine in North Carolina, USA. <i>Science of the Total Environment</i>, 956, 177281. <a href="https://doi.org/10.1016/j.scitotenv.2024.177281" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.scitotenv.2024.177281</a>.</p>
<p>Cowan, E.A.; Wang, Z.; Brachfeld, S.A.; Hageman, S.J.; Seramur, K.C.; Pearson, W.F.; Wilson, J.; Karcher, R.; <b>Hill, R.</b>; Vengosh, A. Role of coal ash morphology and composition in delivery and transport of trace metals in the aquatic environment. <i>Environmental Pollution</i>, 363, 124982. <a href="https://doi.org/10.1016/j.envpol.2024.124982" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.envpol.2024.124982</a>.</p>
<p><b>Hill, R. C.</b>; Williams, G. D. Z.; Wang, Z.; Hu, J.; El-Hasan, T.; Duckworth, O. W.; Schnug, E.; Bol, R.; Singh, A.; Vengosh, A. Tracing the Environmental Effects of Mineral Fertilizer Application with Trace Elements and Strontium Isotope Variations. <i>Environmental Science and Technology Letters</i>, 11 (6), 604–610. <a href="https://doi.org/10.1021/acs.estlett.4c00170" target="_blank" rel="noopener noreferrer">https://doi.org/10.1021/acs.estlett.4c00170</a>.</p>
<p><b>Hill, R.C.</b>; Wang, Z.; Williams, G.D.Z.; Polyak, V.; Singh, A., Kipp; M.A., Asmerom, Y.; Vengosh, A. Reconstructing the depositional environment and diagenetic modification of global phosphate deposits through integration of uranium and strontium isotopes. <i>Chemical Geology</i>, 662, 122214. <a href="https://doi.org/10.1016/j.chemgeo.2024.122214" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.chemgeo.2024.122214</a>.</p>

<p style="text-align: center;">2023</p>
<hr />
<p>Wang, Z.; <b>Hill, R.</b>; Williams, G.; Dwyer, G. S.; Hu, J.; Schnug, E.; Bol, R.; Sun, Y.; Coleman, D. S.; Liu, X.-M.; Sandstrom, M. R.; Vengosh, A. Lead Isotopes and Rare Earth Elements Geochemistry of Global Phosphate Rocks: Insights into Depositional Conditions and Environmental Tracing. <i>Chemical Geology</i>, 639, 121715. <a href="https://doi.org/10.1016/j.chemgeo.2023.121715" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.chemgeo.2023.121715</a>.</p>
<p>Vengosh, A.; Wang, Z.; Williams, G.; <b>Hill, R.</b>; Coyte, R.; Dwyer, G. S. Response to Comments on Vengosh et al. (2022): The Strontium Isotope Fingerprint of Phosphate Rocks Mining. <i>Science of The Total Environment</i>, 870, 161878. <a href="https://doi.org/10.1016/j.scitotenv.2023.161878" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.scitotenv.2023.161878</a>.</p>

<p style="text-align: center;">2022</p>
<hr />
<p>Vengosh, A.; Wang, Z.; Williams, G.; <b>Hill, R.</b>; M. Coyte, R.; Dwyer, G. S. The Strontium Isotope Fingerprint of Phosphate Rocks Mining. <i>Science of The Total Environment</i>, 850, 157971. <a href="https://doi.org/10.1016/j.scitotenv.2022.157971">https://doi.org/10.1016/j.scitotenv.2022.157971</a>.</p>



